
//
// base colors
//

$white:                          #ffffff !default;
$gray-100:                       #f7faf9 !default;
$gray-200:                       #e9f0ec !default;
$gray-300:                       #dfe6e2 !default;
$gray-400:                       #ccd9d2 !default;
$gray-500:                       #aebdb5 !default;
$gray-600:                       #6b7d74 !default;
$gray-700:                       #495750 !default;
$gray-800:                       #34403a !default;
$gray-900:                       #212925 !default;
$black:                          #000 !default;

$primary-0:                      #1a3326 !default;
$primary-light-1:                #435c4f !default;
$primary-light-2:                #8e9e96 !default;
$primary-dark-1:                 #062114 !default;
$primary-dark-2:                 #000503 !default;

$primary:                        $primary-0 !default;
$info:                           $primary-light-2 !default;
$light:                          $primary-light-2 !default;

// body
$body-bg:                        $gray-600 !default;
$body-padding-xs-width:          0 !default;
$body-padding-sm-width:          0 !default;
$body-padding-md-width:          0 !default;
$body-padding-lg-width:          8% !default;
$body-padding-xl-width:          8% !default;

// page
$page-bg:                        $gray-100 !default;
$page-shadow:                    0 0 20px 15px rgba(0, 0, 0, 0.2) !default;

// topbar
$topbar-bg:                      $gray-800 !default;

// body elements
$table-th-bg:                    $topbar-bg !default;

// header

// navigation
$nav-tabs-link-active-bg:        $light !default;

// tags

// toolbox

// alerts

// footer
$footer:                         $gray-200 !default;
$footer-bg:                      $gray-800 !default;
$footer-link:                    $gray-200 !default;
$footer-icon-bg:                 $gray-600 !default;
$footer-link-bg:                 $footer-bg !default;


//
// mobile menu
//

$mobile-menu-title-color:        $gray-100 !default;
$mobile-menu-color:              $gray-500 !default;
$mobile-menu-color-active:       $gray-100 !default;
$mobile-menu-bg:                 $primary-dark-1 !default;
$mobile-menu-border:             $primary-light-1 !default;


@import "variables";
