* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.infos {

}

.bold {
    font-weight: 700;
}

.section {
    width: 100%;
    height: auto;
    margin-bottom: 1cm;
    margin-top: 1cm;
}


.plot {
  width: 100%;
  height: auto;
  margin-bottom: 0.2cm;
}

h1 {
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-size: 14px;
    font-weight: 700;
}

header {
  width: 100%;
  margin-bottom: 1cm;
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

table th {
  font-weight: bold;
  background: #eaeaf2;
  border-collapse: collapse;
}


tr:nth-child(even) {
  background-color: #eaeaf2;
}
