[bumpversion]
current_version = 1.0.3

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.md]
search = # Bear Epoch Time v{current_version}
replace = # Bear Epoch Time v{new_version}

[bumpversion:file:src/bear_epoch_time/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
