name: Upload Python Package to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: pypi
    steps:
    - uses: actions/checkout@v4

    - name: Update VERSION file
      run: |
        echo "${{ github.event.release.tag_name }}" > src/veedb/VERSION
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add src/veedb/VERSION
        git commit -m "Update version to ${{ github.event.release.tag_name }}" || exit 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build package
      run: python -m build

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

    - name: Upload release artifacts
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./dist/*
        asset_name: ${{ github.event.repository.name }}-${{ github.event.release.tag_name }}.tar.gz
        asset_content_type: application/gzip
