
//
// base colors
//

$white:                   #fff !default;
$gray-100:                #f8f9fa !default;
$gray-200:                #e9ecef !default;
$gray-300:                #dee2e6 !default;
$gray-400:                #ced4da !default;
$gray-500:                #adb5bd !default;
$gray-600:                #6c757d !default;
$gray-700:                #495057 !default;
$gray-800:                #343a40 !default;
$gray-900:                #212529 !default;
$black:                   #000 !default;

$primary-0:               #317538 !default;
$primary-light-1:         #435c4f !default;
$primary-light-2:         #8e9e96 !default;
$primary-dark-1:          #062114 !default;
$primary-dark-2:          #000503 !default;

$primary:                 #317538 !default;
$info:                    #eee !default;
$light:                   $gray-100 !default;

// body
$body-bg:                 #666 !default;
$body-padding-xs-width:          0 !default;
$body-padding-sm-width:          0 !default;
$body-padding-md-width:          0 !default;
$body-padding-lg-width:          8% !default;
$body-padding-xl-width:          8% !default;

// page
$page-bg:                 white !default;
$page-shadow:             0 0 20px 15px rgba(0, 0, 0, 0.2) !default;

// topbar
$topbar-bg:               #e1eedd !default;

// body elements
$table-th-bg:             $topbar-bg !default;

// header

// navigation
$nav-tabs-link-active-bg: $light !default;

// tags

// toolbox

// alerts

// footer
$footer:                  #212529 !default;
$footer-bg:               #e1eedd !default;
$footer-link:             #333 !default;
$footer-icon-bg:          $primary-0 !default;
$footer-link-bg:          $primary-0 !default;


//
// mobile menu
//

$mobile-menu-title-color:  #eee;
$mobile-menu-color:        #999;
$mobile-menu-color-active: #eee;
$mobile-menu-bg:           #222;
$mobile-menu-border:       #555;


@import "variables";
