$grid-gutter-base: 15px!default;

$grid-row-height: 44px!default;

$grid-container-margin-base: 0px!default;
$grid-container-padding-base: 16px!default;
$grid-container-padding-small: 20px!default;

$grid-container-size-big: 100%!default;
$grid-container-size-small: 770px!default;

$grid-margin-0: 4px!default;
$grid-margin-1: 8px!default;
$grid-margin-2: 12px!default;
$grid-margin-3: 16px!default;
$grid-margin-4: 24px!default;
$grid-margin-5: 28px!default;
$grid-margin-6: 30px!default;  // Yes.
$grid-margin-7: 36px!default;
$grid-margin-8: 40px!default;
$grid-margin-9: 44px!default;
$grid-margin-10: 50px!default;  // Yes.

