@import '../../settings/color';
@import '../../settings/grid';
@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '../button/constants';

$toolbar-spacing: $grid-margin-3!default;
$toolbar-color-background: $color-background!default;
$toolbar-color-border: darken($toolbar-color-background, 10)!default;
$datagrid-filter-height: $grid-row-height!default;
